{{yield}}

<div class="row tall black">
    <h1 class="card__title {{if siteState.hideText 'nopad'}}">T<h1 class="card__title--sub inline {{if siteState.hideText 'disappear'}}">aylor</h1> T<h1 class="card__title--sub inline {{if siteState.hideText 'disappear'}}">obin</h1></h1>
</div>
