{{yield}}

<div class="row tall">
    <div class="column small-12 medium-6 tall black">
        <h1>Taylor</h1>
    </div>
    <div class="column small-12 medium-6 tall white">
        <h1>Tobin</h1>
    </div>
</div>
