{{yield}}

<div class="nav">

    <h2 class="nav__title">TT</h2>

    <div class="nav__mobile-toggle">
        <div class="nav__mobile-toggle--bar"></div>
        <div class="nav__mobile-toggle--bar"></div>
        <div class="nav__mobile-toggle--bar"></div>
    </div>

    <ul class="nav__mobile">
        <li class="nav__mobile--link">Web</li>
        <li class="nav__mobile--link">App</li>
        <li class="nav__mobile--link">Photo</li>
        <li class="nav__mobile--link">Design</li>
        <li class="nav__mobile--link">Contact</li>
    </ul>

    <ul class="nav__expanded">
        <li class="nav__expanded--link">Web</li>
        <li class="nav__expanded--link">App</li>
        <li class="nav__expanded--link">Photo</li>
        <li class="nav__expanded--link">Design</li>
        <li class="nav__expanded--link">Contact</li>
    </ul>

</div>
