{{yield}}

<div class="nav">

    <h2 class="nav__title"><a href="#home">TT</a></h2>

    <div class="nav__mobile-toggle">
        <div class="nav__mobile-toggle--bar"></div>
        <div class="nav__mobile-toggle--bar"></div>
        <div class="nav__mobile-toggle--bar"></div>
    </div>

    <ul class="nav__mobile">
        <li class="nav__mobile--link" data-menuanchor="#web"><a href="#web">Web</a></li>
        <li class="nav__mobile--link" data-menuanchor="#design"><a href="#design">Design</a></li>
        <li class="nav__mobile--link" data-menuanchor="#photo"><a href="#photo">Photo</a></li>
        <li class="nav__mobile--link" data-menuanchor="#app"><a href="#app">App</a></li>
        <li class="nav__mobile--link" data-menuanchor="#contact"><a href="#Contact">Contact</a></li>
    </ul>

    <ul class="nav__expanded">
        <li class="nav__expanded--link" data-menuanchor="#web"><a href="#web">Web</a></li>
        <li class="nav__expanded--link" data-menuanchor="#design"><a href="#design">Design</a></li>
        <li class="nav__expanded--link" data-menuanchor="#photo"><a href="#photo">Photo</a></li>
        <li class="nav__expanded--link" data-menuanchor="#app"><a href="#app">App</a></li>
        <li class="nav__expanded--link" data-menuanchor="#contact"><a href="#contact">Contact</a></li>
    </ul>

</div>
