{{yield}}

<div class="nav">
    <h2 class="nav__title">TT</h2>
    <div class="nav__mobile-toggle">Toggle</div>
    <ul class="nav__mobile">
        <li>Web</li>
        <li>App</li>
        <li>Photography</li>
        <li>Art</li>
        <li>Contact</li>
    </ul>
    <ul class="nav__expanded">
        <li>Web</li>
        <li>App</li>
        <li>Photography</li>
        <li>Art</li>
        <li>Contact</li>
    </ul>
</div>
