{{yield}}

<div class="row white">
    <div class="column small-12 medium-6 full white intro__left nopad">
        <div class="block">
            <h1 class="position">Developer</h1>
            <p class="description">
                I enjoy elegant minimalistic designs that provide a simple effective user experience, learning and integrating new technologies to build the best products possible, and the process of bringing creative ideas to life.
            </p>
            <img class="panther" src="/images/panther.png">
        </div>
    </div>
    <div class="column small-12 medium-6 full black nopad">
        <div class="image intro__right {{if siteState.image 'fade-in'}}">
            <div class="overlay overlay--black block">
                <p class="quote">"All our dreams can come true, if we have the courage to pursue them" - Walt Disney</p>
            </div>
        </div>
    </div>
</div>
