{{yield}}

<div class="row white">
    <div class="column small-12 medium-6 full white nopad">
        <div class="image web__left {{if siteState.image 'fade-in'}}">
            <div class="overlay overlay--white">
                <p>web</p>
            </div>
        </div>
    </div>
    <div class="column small-12 medium-6 full black">
        <p>projects</p>
    </div>
</div>
