{{yield}}

<!-- {{name-card class="card"}} -->

<div class="row white">
    <div class="column small-12 medium-6 full white home__left nopad">
            <p></p>
    </div>
    <div class="column small-12 medium-6 full home__right nopad">
        <div class="overlay overlay--black">
            <p></p>
        </div>
    </div>
</div>
