{{yield}}

<div class="row white">
    <div class="column small-12 medium-6 full white nopad">
        <div class="image web__left {{if siteState.image 'fade-in'}}">
            <div class="overlay overlay--white block">
                <h3 class="title">Project</h3>
                <h4 class="sub-title">PXL Platform</h4>
                <p class="description">
                    I was the lead developer in creating the PXL Platform website for PXL Agency.
                </p>
                <button>View Project</button>
            </div>
        </div>
    </div>
    <div class="column small-12 medium-6 full black">
        <p>projects</p>
    </div>
</div>
