{{yield}}

<div class="row white">
    <div class="column small-12 medium-6 full white nopad">
        <div class="image pxl__left {{if siteState.image 'fade-out'}}">
            <div class="overlay overlay--white block">
                <p class="company">PXL AGENCY</p>

                <img class="eastern2" src="/images/eastern2.jpg">
                <h3 class="title platform-title">Project</h3>
                <h4 class="sub-title">PXL Platform</h4>
                <p class="description">
                    I was the lead developer in creating the PXL Platform website for PXL Agency. The PXL platform is a custom cms system built in ember for the websites we build our clients.
                </p>
                <a class="project-button" href="http://pxlplatform.pxlbros.com/">View Project</a>
            </div>
        </div>
    </div>
    <div class="column small-12 medium-6 full black">
        <div class="block">
            <h3 class="title">Project</h3>
            <h4 class="sub-title">PXL Agency Website</h4>
            <p class="description">
                Provided development assistance on the new PXL Agency website that came with our brand relauch.
            </p>
            <a class="project-button" href="http://pxlagency.com/">View Project</a>

            <img class="eastern1" src="/images/eastern1.jpg">
        </div>
    </div>
</div>
