{{yield}}

{{name-card}}

<div class="row white">
    <div class="column small-12 medium-6 full white">
        <p>wooo</p>
    </div>
    <div class="column small-12 medium-6 full black">
        <p>hooo</p>
    </div>
</div>
