{{yield}}

<div class="row white">
    <div class="column small-12 medium-6 full white nopad">
        <div class="image photo__left {{if siteState.image 'fade-in'}}">
            <div class="overlay overlay--white">
                <p>web</p>
            </div>
        </div>
    </div>
    <div class="column small-12 medium-6 full black">
        <div class="block">
            <h3 class="title">Project</h3>
            <h4 class="sub-title">My girlfriends photography portfolio.</h4>
            <p class="description">
                Designed and developed a website my girlfriend Amber Crotteau's photography portfolio.
            </p>
            <a class="project-button" href="http://amberrosecrotteauphoto.surge.sh/">View Project</a>
        </div>
    </div>
</div>
