{{yield}}

<div class="video-overlay">
    <img src="/images/wave.jpg">
</div>

<div class="row white">
    <div class="column small-12 medium-6 full white home__left nopad">
        <h1 class="title">Taylor<br>Tobin</h1>
    </div>
    <div class="column small-12 medium-6 full black nopad"></div>
</div>
