{{yield}}

<div class="row white">
    <div class="column small-12 medium-6 full white home__left nopad">
        <div class="block">
            <h3 class="title">Project</h3>
            <h4 class="sub-title">Lemossa Productions</h4>
            <p class="description">
                Designed and developed a website for my friend Ian Hayes's video productions company Lemossa Productions. This was the first ember project I completed and I am currently in the process of developing a new site with improved design and a simple cms.
            </p>
            <a class="project-button" href="http://lemossaproductions.surge.sh/">View Project</a>
        </div>
    </div>
    <div class="column small-12 medium-6 full black nopad">
        <div class="image lemossa__right {{if siteState.image 'fade-out'}}">
            <div class="overlay overlay--black">
                <p></p>
            </div>
        </div>
    </div>
</div>
