{{yield}}

<div class="row white">
    <div class="column small-12 medium-6 full white">
        <h1>Taylor</h1>
    </div>
    <div class="column small-12 medium-6 full black">
        <h1>Tobin</h1>
    </div>
</div>
