{{yield}}

<div class="row background">
    <div class="column small-12 medium-6 full">
        <div class="block">
            <h1>About</h1>
            <img src="/images/tobin.png">
        </div>
    </div>
</div>
