{{yield}}

<div class="row white">
    <div class="column small-12 medium-6 full white nopad">
            <p></p>
    </div>
    <div class="column small-12 medium-6 full black nopad">
        <div class="image design__right {{if siteState.image 'fade-out'}}">
            <div class="overlay overlay--black">
                <p></p>
            </div>
        </div>
    </div>
</div>
