{{yield}}

<div class="row white">
    <div class="column small-12 medium-6 full white nopad">
        <div class="block">
            <h3 class="title">Project</h3>
            <h4 class="sub-title">LBSU Surf Team Website</h4>
            <p class="description">
                Designed and developed a website for my surf team at Long Beach State University. It is an ember application that is a home for our sponsors, schedule, member profiles, and events. I have been on the team for 3 years. I was the team captain in 2016-17 and the Vice President in 2018.
            </p>
            <a class="project-button" href="http://lbsusurf.surge.sh/">View Project</a>
        </div>
    </div>
    <div class="column small-12 medium-6 full black nopad">
        <div class="image lbsu__right {{if siteState.image 'fade-out'}}">
            <div class="overlay overlay--black">
                <p></p>
            </div>
        </div>
    </div>
</div>
