// Fonts
@import url('https://fonts.googleapis.com/css?family=Megrim|Open+Sans+Condensed:300');

// Colors
$overlay-black: rgba(0,0,0,0.5);
$overlay-white: rgba(225,225,225,0.5);

$gold: rgb(238,232,170);
$gradient-gold: -webkit-linear-gradient(top, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);

// Settings
.ember-application {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2 {
    font-family: 'Megrim', cursive;
}

ul {
    list-style: none;
}

a {
    color: $gold;

    &:hover {
        color: $gold;
    }
}
