.card {
    z-index: 2;
    width: 45%;
    position: absolute;
    top: calc(50% - 75px);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

    &__title {
        padding: 2rem;

        &--sub {
            opacity: 1;
            width: auto;
            transition: all .5s ease;
        }
    }
}

.home {
    &__right {
        background-image: url('/images/wave.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        transition: all 3s ease;
    }
}

.web {
    &__left {
        background-image: url('/images/palms.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transition: all 3s ease;
    }
}

.design {
    &__right {
        background-image: url('/images/clouds.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        transition: all 3s ease;
    }
}

.photo {
    &__left {
        background-image: url('/images/dome.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transition: all 3s ease;
    }
}

.app {
    &__right {
        background-image: url('/images/rock.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        transition: all 3s ease;
    }
}

.contact {
    
}
