.card {
    z-index: 2;
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border: 1px solid $gold;
    width: 35%;

    @include breakpoint(medium up) {
        width: 20%;
    }

    &__title {
        padding: 10px;
        font-size: 1.5em;
    }
}

.home {
    &__right {
        background-image: url('/images/wave.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        transition: all 3s ease;
        transition-delay: .5s;
    }

    .quote {
        text-align: center;
        font-size: 2em;
        padding-top: 25px;

        @include breakpoint (medium up) {
            padding: 45px;
            font-size: 2.5em;
        }
    }

    .description {
        padding-top: 20px;
        font-size: 1.2em;
        text-align: center;

        @include breakpoint (medium up ) {
            text-align: left;
        }
    }

    .position {
        position: absolute;
        transform: rotate(-90deg);
        left: -18%;
        bottom: 25%;
        font-size: 2.5em;

        @include breakpoint (medium up) {
            left: -20%;
            font-size: 4em;
        }
    }
}

.web {
    &__left {
        background-image: url('/images/palms.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transition: all 3s ease;
        transition-delay: .5s;
    }

    .title {
        padding-top: 2rem;
    }
}

.design {
    &__right {
        background-image: url('/images/clouds.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        transition: all 3s ease;
        transition-delay: .5s;
    }
}

.photo {
    &__left {
        background-image: url('/images/dome.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transition: all 3s ease;
        transition-delay: .5s;
    }
}

.app {
    &__right {
        background-image: url('/images/rock.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        transition: all 3s ease;
        transition-delay: .5s;
    }
}

.contact {

}
