.nav {
    width: 100%;
    position: absolute;
    z-index: 3;

    .home-button {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -15px;
        left: -5px;
    }

    &__logo {
        margin: 1rem;
        position: fixed;
        top: 25px;
        left: 25px;

        &--link {
            width: 40px;
            height: 20px;
            color: black;
        }

        &--letter {

            &--bar {
                background: $gradient-gold;
                height: 2px;

                &.flat {
                    position: absolute;
                    width: 20px;
                    left: -3px;
                    top: -9px;
                    transform: rotate(0deg);
                    transition: all 1s ease;

                    &.initial {
                        transform: translate(20px);
                    }

                    &.translate {
                        transform: translate(0px);
                    }

                    &.right {
                        transform: translateX(15px) rotate(35deg);
                    }

                    &.left {
                        transform: rotate(-35deg);
                    }
                }

                &.vert {
                    position: absolute;
                    width: 20px;
                    top: 1px;
                    transform: rotate(90deg);
                    transition: all 1s ease;

                    &.right {
                      left: 10px;
                    }

                    &.translate {
                        // transform: translate(0px);
                    }

                }
            }
        }
    }

    &__mobile-toggle {
        margin: 1rem;
        position: fixed;
        top: 0;
        right: 0;

        @include breakpoint (medium up) {
            display: none;
        }

        &--bar {
            width: 15px;
            height: 2px;
            background: $black;
            margin: 2px 0;
        }
    }

    &__mobile {
        width: 100vw;
        height: 100vw;
        display: none;
        @include breakpoint (medium up) {
            display: none;
        }
    }

    &__expanded {
        display: none;
        margin: 1rem;

        @include breakpoint (medium up) {
            display: inline-flex;
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
        }

        &--link {
            color: $white;
            padding: 0 .5rem;
        }
    }
}
